body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#logo {
    max-width: 100%;
    height: auto;
    width: 720px; /* Limite la largeur à 720px */
}

#deviceSelection, #resolutionSelection, #game {
    margin-bottom: 20px;
}

#game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

canvas {
    border: 1px solid #000;
    margin-bottom: 10px;
}

#controls {
    margin-bottom: 20px;
}

#savedDrawings {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
