body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

h1 {
    margin: 20px 0;
}

canvas {
    border: 1px solid #000;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

#savedDrawings img {
    width: 100px;
    height: auto;
    margin: 5px;
    border: 1px solid #000;
}

#gameModeSelection, #deviceSelection, #resolutionSelection, #multiplayerSetup, #game {
    display: none;
    flex-direction: column;
    align-items: center;
}

#roomsList div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    margin: 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#roomsList button {
    background-color: #28a745;
}

#roomsList button:hover {
    background-color: #218838;
}

input[type="text"] {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 200px;
}
